@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-area-inset-top: env(safe-area-inset-top, 0px);
  --safe-area-inset-right: env(safe-area-inset-right, 0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-inset-left: env(safe-area-inset-left, 0px);
}

@layer components {
  .container {
    @apply mx-auto max-w-2xl;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  @apply bg-accent-50 text-accent-950 dark:bg-accent-950 dark:text-accent-50 font-sans;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  @apply outline-accent-500 dark:outline-accent-400;
}

img, a {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

@keyframes swing-rotate {
  0%, 100% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  65% {
    transform: rotate(0deg);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spring-scale {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}