@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-2xl;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  @apply bg-accent-50 text-accent-950 dark:bg-accent-950 dark:text-accent-50;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  @apply outline-accent-500 dark:outline-accent-400;
}
